@use 'btn.styles';

.content {
  h2 {
    margin-bottom: 1rem;
    padding: 0;
  }

  p {
    margin-bottom: 1rem;
    font-size: var(--fs-md);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .question-card {
      background-color: var(--secondary-color);
      padding: 1rem;

      h3 {
        font-size: var(--fs-md);
        font-weight: var(--fw-medium);
        color: var(--text-color);
        margin-bottom: 0.75rem;
        padding: 0;
      }

      .answer-options {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        margin-top: 0.75rem;

        .radio-label {
          display: flex;
          align-items: center;
          cursor: pointer;
          color: var(--text-color);
          font-size: var(--fs-md);

          input[type="radio"] {
            margin-right: 0.75rem;
          }
        }
      }
    }
  }
}