<div class="container">
  <h2>{{ name }}</h2>
  <div class="content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, veniam. Omnis deserunt laborum iste amet architecto tenetur laudantium ipsa commodi.
    Nisi saepe laudantium eveniet temporibus, magni, unde commodi minus sunt fugiat, veritatis est suscipit accusamus provident quas totam eaque voluptatibus!
    Ipsa officia facere nostrum distinctio sunt fugiat, quas facilis numquam laudantium consequatur placeat deleniti, harum reiciendis ducimus modi debitis suscipit.
    Voluptate necessitatibus doloremque quo quia odit vero consequuntur nobis sed beatae? Cumque veniam porro aperiam laboriosam nam animi voluptatum nesciunt.
    Magni nam velit amet tempora sed, commodi ea harum porro id quo, vel ipsam mollitia in, voluptate natus? Aliquid, delectus.
    Rerum odio facere quasi sapiente veniam culpa, aliquam hic! Aliquam autem doloremque impedit quis excepturi, itaque voluptatum eveniet aperiam fugit?
  </div>
</div>