<div class="container">
  <ng-container *ngIf="loading; else content">
    <div>Loading...</div>
  </ng-container>

  <ng-template #content>
    <ng-container *ngIf="error; else profile">
      <div class="error">{{ error }}</div>
    </ng-container>

    <ng-template #profile>
      <h2>Company: {{ company?.name }}</h2>
      <p>Owner: {{ company?.owner?.name }}</p>
      <p>Description: {{ company?.description }}</p>
      <p>Visibility: {{ company?.visibility }}</p>

      <div *ngIf="isOwner">
        <button class="btn btn-outlined" (click)="openEditModal()">Edit</button>
        <app-modal [showModal]="isEditModalOpen" title="Edit Company" (close)="closeEditModal()">
          <app-company-edit 
            [company]="company!" 
            (update)="handleCompanyUpdate($event)" 
            (cancel)="closeEditModal()">
          </app-company-edit>
        </app-modal>
      </div>
    </ng-template>
  </ng-template>
</div>