<div class="container">
  <h1>About</h1>
  <button class="btn btn-outlined" (click)="openModal()">Learn more</button>
  <div class="content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, veniam. Omnis deserunt laborum iste amet architecto tenetur laudantium ipsa commodi.
    Nisi saepe laudantium eveniet temporibus, magni, unde commodi minus sunt fugiat, veritatis est suscipit accusamus provident quas totam eaque voluptatibus!
    Ipsa officia facere nostrum distinctio sunt fugiat, quas facilis numquam laudantium consequatur placeat deleniti, harum reiciendis ducimus modi debitis suscipit.
    Voluptate necessitatibus doloremque quo quia odit vero consequuntur nobis sed beatae? Cumque veniam porro aperiam laboriosam nam animi voluptatum nesciunt.
    Magni nam velit amet tempora sed, commodi ea harum porro id quo, vel ipsam mollitia in, voluptate natus? Aliquid, delectus.
    Rerum odio facere quasi sapiente veniam culpa, aliquam hic! Aliquam autem doloremque impedit quis excepturi, itaque voluptatum eveniet aperiam fugit?
    Nesciunt voluptatem asperiores voluptatibus eos, atque totam, fugit quidem optio qui, perspiciatis ipsa quia. Quod perferendis accusamus error cum eligendi?
    Corrupti repudiandae deserunt est? Perspiciatis explicabo aspernatur suscipit aliquam harum nihil delectus non expedita voluptatum, minima, fuga rerum eligendi dignissimos.
    Asperiores enim quibusdam accusantium corrupti, sapiente, accusamus quos optio soluta odit veritatis natus. Autem libero delectus ipsum optio, laudantium enim!
    Eos architecto optio, odio veritatis vel deserunt natus officia laboriosam nam explicabo unde voluptatum, accusantium consequatur minus incidunt quis officiis?
    Numquam iusto praesentium quisquam dolore facere dolorem voluptatum sapiente similique modi excepturi nostrum esse dolorum, odio, eveniet nobis qui porro.
    Vitae ullam perferendis laudantium dolor neque reiciendis odio voluptates, saepe quia sunt amet architecto delectus, aperiam et temporibus animi repellendus?
    Rerum cum, voluptate ducimus aspernatur dolores necessitatibus aperiam, tenetur voluptatem nam ullam, exercitationem fugit architecto provident totam autem incidunt inventore?
    Quaerat eveniet quas asperiores nisi sint facilis velit illum doloribus non culpa voluptatum fugiat, voluptates ratione vel consequatur dolorem officia!
    Alias accusantium doloribus tenetur aut illum porro quo corporis perspiciatis ipsam non praesentium, debitis fugit optio cupiditate beatae. Beatae, et?
  </div>
</div>

<app-modal [showModal]="isModalOpen" (close)="closeModal()">
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, veniam. Omnis deserunt laborum iste amet architecto tenetur laudantium ipsa commodi.
    Nisi saepe laudantium eveniet temporibus, magni, unde commodi minus sunt fugiat, veritatis est suscipit accusamus provident quas totam eaque voluptatibus!
    Ipsa officia facere nostrum distinctio sunt fugiat, quas facilis numquam laudantium consequatur placeat deleniti, harum reiciendis ducimus modi debitis suscipit.
    Voluptate necessitatibus doloremque quo quia odit vero consequuntur nobis sed beatae? Cumque veniam porro aperiam laboriosam nam animi voluptatum nesciunt.
    Magni nam velit amet tempora sed, commodi ea harum porro id quo, vel ipsam mollitia in, voluptate natus? Aliquid, delectus.
  </div>
</app-modal>