<div class="content">
  @if (loading) {
    <app-loading />
  } @else if (error) {
    <div class="error">{{ error }}</div>
  } @else {
    <h2>Name: {{ user?.name }}</h2>
    <h2>Email: {{ user?.email }}</h2>
    
    @if (isCurrentUser) {
      <button class="btn btn-outlined" (click)="openEditModal()">Edit</button>
      <app-modal [showModal]="isEditModalOpen" title="Edit Profile" (close)="closeEditModal()">
        <app-user-edit
          [user]="user!"
          (update)="handleProfileUpdate($event)"
          (cancel)="closeEditModal()">
        </app-user-edit>
      </app-modal>
    }
  }
</div>
