<div class="container">
  <h1>Users</h1>

  @if (loading) {
    <app-loading />
  } @else if (error) {
    <div class="error">{{ error }}</div>
  } @else {
    <ul class="list">
      @for (user of users; track user.id) {
        <li class="card">
          <a [routerLink]="['/users', user.id]">{{ user.name }}</a>
        </li>
      }
    </ul>
  }

  <app-pagination 
    [totalItems]="totalUsers" 
    [limit]="limit" 
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>
