.btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
  cursor: pointer;
  
  @media (max-width: 768px) {
    font-size: var(--fs-sm);
  }

  &-outlined {
    border: 2px solid var(--text-color);
    background-color: var(--primary-color);
    color: var(--text-color);

    &:hover {
      background-color: var(--text-color);
      color: var(--dark-text-color);
    }
  }

  &-filled {
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;

    &:hover {
      background-color: var(--secondary-color);
    }
  }
}