.modal {
  form {
    div {
      display: flex;
      flex-direction: column;
    }

    input, textarea, select {
      padding: 0.75rem;
      margin: 0.5rem 0;
      border: 2px solid var(--primary-color);
      border-radius: 0.5rem;
      font-size: var(--fs-md);
    }
  }
  
  .btn {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }
}