@if (totalPages > 1) {
<nav class="pagination">
  <button class="btn btn-outlined" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Prev</button>
  @for (page of [].constructor(totalPages); track $index) {
    <button class="btn btn-outlined" (click)="changePage($index + 1)" [class.active]="currentPage === $index + 1">
      {{ $index + 1 }}
    </button>
  }
  <button class="btn btn-outlined" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
</nav>
}