<div class="container">
  <h1>Quizzes</h1>

  @if (loading) {
    <app-loading />
  } @else if (error) {
    <div class="error">{{ error }}</div>
  } @else {
    <ul class="list">
      @for (quiz of quizzes; track quiz.id) {
        <li class="card">
          <a [routerLink]="['/quizzes', quiz.id]">{{ quiz.title }}</a>
        </li>
      }
    </ul>
  }

  <app-pagination 
    [totalItems]="totalQuizzes"
    [limit]="limit"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>
