<div class="container">
  <div class="flex">
    <h1>Companies</h1>
    <button class="btn btn-outlined" (click)="openCreateModal()">+</button>
  </div>

  <div class="button-group">
    <button class="btn" 
            [class.active]="selectedTab === CompanyType.Public" 
            (click)="onTabChange(CompanyType.Public)">All companies</button>
    <button class="btn" 
            [class.active]="selectedTab === CompanyType.Personal" 
            (click)="onTabChange(CompanyType.Personal)">My companies</button>
  </div>

  @if (loading) {
    <app-loading />
  } @else if (error) {
    <div class="error">{{ error }}</div>
  } @else {
    <ul class="list">
      @for (company of companies; track company.id) {
        <li class="card">
          <a [routerLink]="['/companies', company.id]">{{ company.name }}</a>
        </li>
      }
    </ul>
  }

  <app-modal [showModal]="isCreateModalOpen" title="Create Company" (close)="closeCreateModal()">
    <app-company-create (companyCreated)="handleCompanyCreated($event)" (cancel)="closeCreateModal()">
    </app-company-create>
  </app-modal>

  <app-pagination [totalItems]="totalCompanies" [limit]="limit" [currentPage]="currentPage"
    (pageChange)="onPageChange($event)">
  </app-pagination>

</div>
