<div class="container">
  <h1>Welcome to the Quizzes App!</h1>
  <h2>
    This application allows you to explore and take various quizzes on different topics.
    Feel free to browse the available quizzes and discover content from different companies.
    As a registered user, you can create your own companies and add your unique quizzes to them.
  </h2>
  <h2>Enjoy testing your knowledge and building your own quiz collections!</h2>
  <button routerLink="/quizzes" class="btn btn-outlined">Get Started</button>
</div>
