@use 'btn.styles';

.container {
  display: flex;
  flex-direction: column;

  form {
    input {
      padding: 0.75rem;
      margin: 0.5rem;
      min-width: 50%;
      flex-grow: 1;
      border: 2px solid var(--primary-color);
      border-radius: 0.5rem;
      font-size: var(--fs-md);
    }

    .error {
      color: var(--accent-color);
    }
  }
  
  .btn {
    margin: 0.5rem;
  }
}